/* taxmap : https://github.com/lbracken/taxmap
   :license: MIT, see LICENSE for more details.
*/
* {
  margin: 0px;
}

html, body {
  padding: 0px;
  margin: 0px;
  background-color: #f5f5fb;
}

html {
  position: relative;
  min-height: 100%;

  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
  font-weight: 400;  
}

body {
	margin: 0 0 45px; /* bottom = footer height */
}

h1 {
  padding-bottom: .25em;
  font-size: 1.7em;
}

A:link    {color: #76A0C9; text-decoration: none;}
A:visited {color: #76A0C9; text-decoration: none;}
A:hover   {color: #76A0C9; text-decoration: underline;}
A:active  {color: #76A0C9; outline: none;}
A:focus   {-moz-outline-style: none;}

img {border: none;}
.clearPanel {clear: both;}

#header {
	padding: .25em 1em .25em 1em;
	background-color: #4CAF50;
	color: #000;
	font: 1.2em;
}

#header {
	padding: 0.25em 1em 0.25em 1em;
	border-bottom: 5px solid #388E3C;
	background-color: #4CAF50;
	color: #FFF;
	font-size: 1.25em;
}

#prjHeader {
	width: 90%;
	min-width: 1024px;
	padding: 1em;
	margin: auto;
	border-bottom: 1px dotted #CCC;
	font-size: 1.25em;
	color: #727272;
}

#prjHeader  * {	
	vertical-align: middle;
}

#prjHeader button {
	font-size: 0.95em;
	padding: 3px;
}

#zip {
	width: 3.25em;
	margin: 0em 1em 0em .2em;
	padding: 6px;
	font-size: 1.25em;
}

#prgm_list {
	width: 450px;
	margin: 0em 1em 0em .2em;
	padding: 6px;
	font-size: 1.25em;
}

.prgm_list-label {
	font-size: 1.25em;
}

.prgm_list-cost {
	padding-left: 10px;
	font-size: 0.9em;
	font-style: italic;
}

/* Make autocomplete suggestions scrollable by setting a fixed height */
.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}
	
* html .ui-autocomplete {
	height: 300px;  /* For IE6 -- since it doesn't support max-height */
}

#serverErrorMsg {
	margin-top: 15px;
	color: #FF0000;
	font-weight: 600;
}

#content {
	width: 90%;
	min-width: 1024px;
	margin: 15px auto 30px auto;
}

#mapContainer {
	float: left;
	width: 65%;
}

.counties {
  stroke: #FFF;
  stroke-width: .2px;
  stroke-linejoin: round;
}

.states {
  stroke: #727272;
  stroke-width: .75px;
  stroke-linejoin: round;
}

#summaryContainer {
	float: right;
	width: 30%;
	background-color: #FFECB3;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding: 1em;
}

#summaryContainer A:link, A:visited, A:hover, A:active {
	color: #727272 !important;
}

#summaryHeader {
	font-size: 22px;
	padding-bottom: .25em;
	margin-bottom: .5em;
	border-bottom: 1px dotted #FFF;
}

#summaryMessage {
	font-size: 1.2em;
	margin: 0em 0em 2em 0em;
}

#summaryDetails table {
	border-collapse: collapse;
	background: #F5F5F5;
	width: 99%;
}

#summaryDetails col:nth-child(1) {
	text-align: left !important;
}

#summaryDetails th, td {
	border: 1px solid #999;
	padding: 0.5rem;
	vertical-align: top;
	text-align: right;
}

#summaryDetails th {
	background: #4CAF50;
	text-align: left;
}

#summaryDetails .regionName {
	text-align: left;
}

#summaryDetails tbody tr:nth-child(odd) {
	background: #FAFAFA;
}

.regionSpan {
	border-bottom: 1px dotted #000;
	cursor: default;
}

#mapTooltip {
	position: absolute;
	background-color: #222;
	color: #FFF;
	padding: .5em;
	box-shadow: 3px 3px 3px #CCC;
}

#mapTooltip .title {
	font-size: 1.25em;
	font-weight: 600;
}

#mapTooltip hr {
	border: 1px dotted #CCC;
	margin: 5px 0px 5px 0px;
}

#welcomeDialog {
	/* Width, Height must get set in JS for dialogs */
	background-color: #FFECB3;
}

#welcomeDialog .left{
	float: left;
	width: 175px;
	text-align: center;
	color: #727272;
}

#welcomeDialog .right {
	float: right;
	width: 425px;
}

#shareUrlDialog {
	/* Width, Height must get set in JS for dialogs */
}

#share_url {
	width: 500px;
	margin-top: 8px;	
}

#footer {
	/* Sticky footer: http://mystrd.at/modern-clean-css-sticky-footer/ */
	position: absolute;
    left: 0;
    bottom: 0;
    height: 45x;
	width: 100%;
	border-top: 1px dotted #727272;
	padding: 15px 0 15px 0;
	color: #727272 !important;
}

#footer-inner {
	margin-left: 100px;
}

#footer A:link, A:visited, A:hover, A:active {
	color: #727272 !important;
}