/* taxmap : https://github.com/lbracken/taxmap
   :license: MIT, see LICENSE for more details.
*/
* {
  margin: 0px;
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #f5f5fb;
}

html {
  font-family: Tahoma, Trebuchet MS, Helvetica, Arial;
  font-size: .8em;
}

body {}

h1 {
  padding-bottom: .25em;
  font-size: 1.7em;
}

A:link    {color: #76A0C9; text-decoration: none;}
A:visited {color: #76A0C9; text-decoration: none;}
A:hover   {color: #76A0C9; text-decoration: underline;}
A:active  {color: #76A0C9; outline: none;}
A:focus   {-moz-outline-style: none;}

img {border: none;}
.clearPanel {clear: both;}

#header {
	padding: .25em 1em .25em 1em;
	background-color: #293134;
	color: #e8e2b7;
	font-weight: bold;
}

#prjHeader {
	width: 80%;
	min-width: 900px;
	padding: 20px;
	margin: auto;
	border-bottom: 1px dotted #CCC;
	font-size: 1.2em;
	font-weight: bold;
}

#zip {
	width: 3.5em;
	margin: 0em 1em 0em .25em;
	font-size: 1.2em;
}

#prgm_cost {
	width: 6.5em;
	margin: 0em 1em 0em .25em;
	font-size: 1.2em;
}

#serverErrorMsg {
	margin-top: 15px;
	color: #FF0000;
	font-weight: bold;
}

#content {
	width: 80%;
	min-width: 900px;
	margin: 30px auto 30px auto;
	border: 1px solid #eee;
}

#mapContainer {
	float: left;
	width: 65%;
}

#summaryContainer {
	float: right;
	width: 30%;
	background-color: #CCC;
	border-radius: 5px;
	padding: 1em;
}

#summaryHeader {
	font-size: 1.3em;
	padding-bottom: .25em;
	margin-bottom: 1.5em;
	border-bottom: 1px dotted #FFF;
}

#summaryMessage {

}



#footer {
	width: 600px;
	margin: auto;
	text-align: center;
	color: #666 !important;
}

#footer A:link, A:visited, A:hover, A:active {
	color: #666 !important;
}