{% extends "layout.html" %}
{% block title %}Taxmap - About{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="static/css/taxmap.css">
{% endblock %}

{% block body %}
    <header>
      <div id="header">
        <div id="taxmapLogo">taxmap</div>
        <div class="clearPanel"></div>
      </div>
    </header>

    <div>

      <h1>What is this?</h1>
      <p>Taxmap is an interactive geovisualization to explore the cost of various government programs.  It's incredibly difficult to comprehend the scale of programs costing millions and billions of dollars.  A lot of people pay taxes, so it all just works out, right?  Taxmap attempts to provide some perspective on the cost by relating it to the federal income tax paid by you and your neighbors.</p>

      <p>It's important to note that federal income tax makes up nearly half of all federal revenue.</p>

      <h1>How was this calculated?</h1>
      <p>TODO...</p>

      <h1>Sources</h1>
      <ul>
        <li>TODO...</li>
      </ul>

    </div>

{% endblock %}

{% block scripts %}
{% endblock %}