{% extends "layout.html" %}
{% block title %}Taxmap{% endblock %}
{% block header %}Taxmap{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="static/css/taxmap.css">
    <link rel="stylesheet" href="static/css/smoothness/jquery-ui-1.10.0.custom.css">
{% endblock %}

{% block body %}
    <header>
      <div id="header">
        <div id="taxmapLogo">taxmap</div>
        <div class="clearPanel"></div>
      </div>
    </header>

    <div id="prjHeader">
      ZIP Code: <input type="text" id="zip" maxlength="5" autofocus/>
      Program: <input type="text" id="prgm_list" maxlength="10"/>
      <button id="updateTaxmap">Map It!</button>
      <img id="updateTaxmapLoading" src="static/images/loader.gif" style="display:none;" height="16px" width="16px"/>
      <button id="shareUrl">Share</button>
      <div class="clearPanel"></div>
      <div id="serverErrorMsg" style="display: none;">Error communicating with server.</div>
    </div>    

    <div id="content">
      <div id="mapContainer" style="display: none;">
        <div id="map"></div>
        <div id="mapTooltip" style="display: none;"></div>
      </div>
      <div id="summaryContainer" style="display: none;">
        <div id="summaryHeader"></div>
        <div id="summaryMessage"></div>
        <a href="javascript:void(0)" id="showMoreDetails">>> More Details</a>
        <div id="summaryDetails"></div>
      </div>      
      <div class="clearPanel"></div>    
    </div>

    <div id="welcomeDialog" style="display: none;">
      <div class="left">
        <!-- Awesome arrow image from http://mediamilitia.com/arrows-182-free-vectors-and-brushes/ -->
        <img src="static/images/arrow.png" width="150" height"125" alt="Get Started!"/>
        <p>Enter your ZIP and select a program to get started</p>
      </div>
      <div class="right">
        <p>A million here, a billion there. The cost of various government programs is nearly incomprehensible.<p><br/>

        <p>This visualization helps to provide some perspective about how much income tax you and your neighbors pay to cover various expenditures (income tax makes up nearly half of all federal revenues).</p>
      </div>
      <div class="clear"></div>
    </div>

    <div id="shareUrlDialog" style="display: none;" title="Copy this URL to share.">
        <input type="text" id="share_url" readonly="readonly"/>
    </div>

{% endblock %}

{% block scripts %}
<!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
-->
    <!-- Local copies of jquery from CDN -->
    <script src="static/js/jquery.min.js" type="text/javascript"></script>
    <script src="static/js/jquery-ui.min.js" type="text/javascript"></script> 

    <script src="static/js/d3.v3.min.js" type="text/javascript"></script>
    <script src="static/js/topojson.v1.min.js"></script>
    <script src="static/js/queue.min.js"></script>

    <script src="static/js/taxmap.js" type="text/javascript"></script>
  
{% endblock %}